:root {
    --accent-color: #2196f3;
    --text-color-black: #212121;
    --text-color-gray: #757575;
    --white-color: #ffffff;
    --absolute-black: #000000;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--text-color-gray);
    letter-spacing: 0.03em;
    background-color: var(--white-color);
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */

address {
    font-style: normal;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}



                /* indexHTML */

    /* header */

.header {
    border-bottom: 1px solid #ECECEC;

    background-color: var(--white-color);

}

.header .container {
    display: flex;
    align-items: center;
}

.menu-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    color: var(--absolute-black);
}

.logo-accent {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list .current {
    color: var(--accent-color);
}

.nav-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 32px 0;
    display: block;

    color: var(--text-color-black);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.header-list {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
}



.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-address {
    display: inline-flex;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    

    color: var(--text-color-gray);
}

.header-address:hover,
.header-address:focus {
    color: var(--accent-color);
}

.mail-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.tel-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}


        /* main */

    /* hero */

.hero {
    padding: 200px 0;
    text-align: center;
    background-color: #2f303a;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--absolute-black);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/section-hero/hero-Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    color: var(--white-color);
}
.hero-btn {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: none;

    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #188ce8;
    color: var(--white-color);
    cursor: pointer;
}




    /* details-section */

.details-section {
    background-color: var(--white-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.details-list {
    display: flex;
    align-items: center;
}

.details-item {
    width: 270px;
}

.details-item:not(:last-child) {
    margin-right: 30px;
}

.details-icons {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #f5f4fa;
}

.details-icon {
    width: 70px;
    height: 70px;
}

.details-title {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;

    color: var(--text-color-black);
}

.details-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color-gray);
}




    /* work-section */

.work-section {
    padding-top: 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

    color: var(--text-color-black);
}

.work-list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}

.work-thumb {
    position: relative;
}


.work-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    padding: 27px;
    z-index: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background: rgba(47, 48, 58, 0.8);
}





    /* team-section */

.team-section {
    background-color: #f5f4fa;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--white-color);
}

.team-thumb {
    padding: 30px 0;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 10px;

    color: var(--text-color-black);
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    color: var(--text-color-gray);
}

.social {
    display: flex;
    height: 44px;
    margin-top: 16px;
    justify-content: center;
}

.social .social-icon + .social-icon {
    margin-left: 10px;
}

.social a {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
}

.social a:hover,
.social a:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--white-color);
    fill: var(--white-color);
}

.si {
    width: 20px;
    height: 20px;
}



        /* client-section */

.client-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

    color: var(--text-color-black);
}

.client-list {
    display: flex;
    justify-content: center;
}

.client-list a:focus,
.client-list a:hover {
    fill: var(--accent-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.client-item {

}


.client-section a {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.client-section .client-item +.client-item {
    margin-left: 30px;
}




    /* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
}

.footer-logo {
    font-family: Raleway, serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;

    color: var(--white-color);
}

.address-list {
    list-style: none;
    display: inline;
    padding-left: 0;
}

.address-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
    margin-left: 0;

    color: var(--white-color);
}

.address-item:not(:last-child) {
    margin-bottom: 8px;
}

.address-link-ad {
    text-decoration: none;

    color: var(--white-color);
}

.address-link {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

.footer-menu {
    display: flex;
    align-items: baseline;
}

.footer .container-social {
    margin-left: 70px;
}

.footer .footer-social {
    display: flex;
    margin-top: 20px;
}

.footer-social a {
    display: block;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    fill: var(--white-color);
}

.social-links:not(:last-child) {
    margin-right: 10px;
}

.social-links {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    
}

.social-links a:hover,
.social-links a:focus {
    border-radius: 50%;
    background-color: var(--accent-color);
}

.social-text {
    color: var(--white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    text-transform: uppercase;
}



            /* portfolioHTML */

    /* portfolio-main */

.portfolio-main {
    background-color: var(--white-color);
}




                /*portfolio*/
    /*portfolio-filter*/

.btn-list {
     margin-bottom: 50px;
     display: flex;
     justify-content: center;
}

.btn-item:not(:last-child) {
     margin-right: 8px;
}

.portfolio-button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    padding: 6px 22px;

    background-color: #f5f4fa;
    color: var(--text-color-black);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button .active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow:
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}



        /*portfolio-list*/

.portfolio-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--text-color-black);
}

.portfolio-list .portfolio-links:hover,
.portfolio-list .portfolio-links:focus {
    display: block;
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}


.card-thumb {
    padding: 20px 24px;
}

.portfolio-heading {
    font-size: 18px;
    margin-bottom: 4px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    color: var(--text-color-gray);
}
