:root {
    --accent-color: #2196f3;
    --text-color-black: #212121;
    --text-color-gray: #757575;
    --white-color: #ffffff;
    --absolute-black: #000000;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}